# Created by .ignore support plugin (hsz.mobi)
/LocalSettings.php
/workspace
.idea
/build/
/vendor
**/tests/_output/*
**/tests/_data/scenarios/
.env
/temp/
/web/test
.DS_STORE
.scannerwork
node_modules
web/node_modules
web-mailsec/node_modules
/coverage-reports/
/documentation/api/LocalSettings.php
docker-compose.override.yml
coverage

extensions/**/vendor
extensions/**/build
