/.idea
/auth.json

/LocalSettings.php
/temp/
/web/node_modules
/web-mailsec/node_modules
/workspace

extensions/**/build
extensions/**/vendor

/docker/.env
/docker/docker-compose.override.yml

phpcs.xml

# Codeception
**/tests/_output/*
**/tests/output/*
**/tests/_data/scenarios/

/coverage

/node_modules
/vendor

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
