includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
  scanFiles:
    - init.php
  bootstrapFiles:
    - init-no-db.php
  level: 3
  paths:
    - action
    - api
    - batch
    - connecteur
    - connecteur-type
    - controler
    - installation
    - lib
    - model
    - module
    - pastell-core
    - script
    - src
    - test
    - tests
    - type-dossier
  ignoreErrors:
    -
      # Le mécanisme d'extension empêche d'analyser le contenu du build de chaque extension.
      # Techniquement, il ne devrait plus y avoir d'extension dans le core une fois que CMIS aura été extrait dans un
      # projet à part
      message: '/Class PastellExtension\\PastellDepotCmis\\GuzzleHttp\\Client not found\./'
      paths:
        - test/PHPUnit/extensions
    -
      message: '/PHPDoc tag @var for variable \$class contains unknown class DepotCMIS/'
      paths:
        - test/PHPUnit/extensions/pastell-depot-cmis/DepotCMISTest.php
    -
      message: '/Call to method getClient\(\) on an unknown class DepotCMIS/'
      paths:
        - test/PHPUnit/extensions/pastell-depot-cmis/DepotCMISTest.php
    -
      # Il s'agit de symboles externes utilisés par l'extension PHP Soap, donc pas corrigeables
      message: '/Access to an undefined property NotBuggySoapClient::\$__last_request(.*)/'
      paths:
        - lib/NotBuggySoapClient.class.php
    -
      message: '/Access to an undefined property object::(\$nom|\$NomDocPrincipal)/'
      path: connecteur/iParapheur/IParapheur.class.php
    -
      message: '/PHPDoc tag @throws with type (.*) is not subtype of Throwable/'
      path: test/codeception/tests/_support/_generated/

    -
      message : '/Method (.*) should return (.*) but returns (.*)/'
      paths:
        - connecteur-type/mailsec/MailsecEnvoyer.class.php
        - connecteur-type/mailsec/MailsecRenvoyer.class.php
        - module/actes-generique/action/EnvoieSignatureChange.class.php
        - module/commande-generique/action/FournisseurCommandeRenvoyerMail.class.php
        - module/helios-generique/action/HeliosEnvoieSignatureChange.class.php
        - module/pdf-generique/action/PDFGeneriqueRenvoyer.class.php
        - test/PHPUnit/connecteur/transformation-generique/TransformationGeneriqueTest.php
