apache2
ca-certificates
certbot
cron
curl
git
graphviz
language-pack-fr
logrotate
php
php-bcmath
php-curl
php-imap
php-intl
php-ldap
php-mbstring
php-mysql
php-redis
php-soap
php-uuid
php-xml
php-zip
supervisor
unzip
wget
xmlstarlet