{% extends 'base.html.twig' %}

{% block main %}
    <div id='daemon-content'>
        {% include 'daemon/index_content.html.twig' %}
    </div>

    <script type="text/javascript">
        function reload() {
            $("#daemon-content").load("{{ path('app.legacy.daemon_indexContent') }}");
        }

        $(document).ready(function () {
            setInterval(function () {
                reload();
            }, 1000);
        });
    </script>
{% endblock %}