
h2 {font-size:130%; margin:0 0 4px 0;color:#000;font-weight:normal;}

form {
margin: 0 0 0 0;
}

.breadcrumb {
padding-left:20px;
margin-bottom:0px;
border-radius:0;
/*background:#ededed;*/
}

input, textarea, .uneditable-input {
    width: 306px;
}

.badge-daemon {
    position: relative;
    top: -20px;
    left: 20px;
    background-color: red;
    display:inline;
}

.badge-job-lock {
    position: relative;
    top: -20px;
    left: 20px;
    background-color: orange;
    display:inline;
}

.table input[type="checkbox"] {
  margin: 0 4px;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.nav-pills > li > button {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
    text-decoration:none;
}
.nav-pills > li > button {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nav-pills > .active > button,
.nav-pills > .active > button:hover,
.nav-pills > .active > button:focus {
    color: #ffffff;
    background-color: #0088cc;
}

.nav > li > button:hover,
.nav > li > button:focus {
    text-decoration: none;
    background-color: #eeeeee;
}