
h2 {font-size:130%; margin:0 0 4px 0;color:#000;font-weight:normal;}

form {
margin: 0 0 0 0;
}

.breadcrumb {
padding-left:20px;
margin-bottom:0px;
border-radius:0;
background-color: var(--ls-grey-50);
}

/* input, textarea, .uneditable-input {
    width: 306px;
} */

html body .input-group-text{
  background-color: white;
  border-top: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-radius: 0 0.25rem 0.25rem 0 !important;
  cursor: pointer;
}

.col-md-3.box-input{
  border-right: none;
  max-width: calc(25% - 2.85rem) !important;
}

.col-md-5.box-input{
  border-right: none;
  max-width: calc(41.666667% - 2.85rem) !important;
}

.badge-daemon {
    position: relative;
    background-color: red;
    display:inline;
}

.badge-job-lock {
    position: relative;

    background-color: orange;
    display:inline;
}

.table input[type="checkbox"] {
  margin: 0 4px;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.nav-pills > li > button {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
    text-decoration:none;
}
.nav-pills > li > button {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nav-pills > .active > button,
.nav-pills > .active > button:hover,
.nav-pills > .active > button:focus {
    color: #ffffff;
    background-color: #0088cc;
}

.nav > li > button:hover,
.nav > li > button:focus {
    text-decoration: none;
    background-color: #eeeeee;
}


/* Uploader: Drag & Drop */
.flow-error {display:none; font-size:14px; font-style:italic;}

/* Uploader: Progress bar */
.flow-progress {margin:30px 0 30px 0; width:100%; display:none;
}
.progress-container {height:7px; background:#9CBD94; position:relative; width: 50% }
.progress-bar {position:absolute; top:0; left:0; bottom:0; background:#45913A; width:0;}

.flow-progress table {width: 100%;}
.progress-bar{width: 50%;}

.progress-resume-link {display:none;}
.progress-pause-link {display:none;}
.progress-cancel-link {display:none;}

.is-paused .progress-resume-link {display:inline;}
.is-paused .progress-pause-link {display:none;}

.flow-list ul {list-style-type: none;}

.burger-menu{
  color: white;
  background-color: none;
  border-color: none;
}

.burger-menu:hover{
  background-color: #53599a;
  color: white;
}

/* à ajouter aux boutons inmportant comme "créer" */
.grow{
  padding-left: 15px;
  padding-right: 15px;
}

/* les boutons Pastell */

.btn-primary{
  background-color: var(--pastell-600);
  border: 1px solid var(--pastell-600);
}

html body .btn-primary:focus, html body .btn-primary.focus, html body .btn-secondary:focus, html body .btn-secondary.focus{
  box-shadow: none;
}

html body .btn-primary:not(:disabled):not(.disabled):active:focus, html body .btn-primary:not(:disabled):not(.disabled).active:focus, html body .show > html body .btn-primary.dropdown-toggle:focus{
  box-shadow: none;
}

html body .btn-primary:not(:disabled):not(.disabled):active, html body .btn-primary:not(:disabled):not(.disabled).active, html body .show > html body .btn-primary.dropdown-toggle{
  background-color: var(--pastell-800);
  border: 1px solid var(--pastell-800);
}

html body .btn-primary.disabled, html body .btn-primary:disabled{
  background-color: var(--pastell-600);
  border: none;
}

html body .btn-secondary{
  background-color: white;
  border: 1px solid var(--pastell-600);
  color: var(--pastell-600);
}

.btn-primary:hover, html body .btn-secondary:hover{
  background-color: var(--pastell-400);
  border: 1px solid var(--pastell-400);
  color: white !important;
}

html body .btn-secondary:not(:disabled):not(.disabled):active, html body .btn-secondary:not(:disabled):not(.disabled).active, html body .show > html body .btn-secondary.dropdown-toggle{
  background-color: var(--pastell-800);
  border-color: var(--pastell-800);
  color: white;
}

html body .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus{
  box-shadow: none;
}

html body .btn:focus, html body .btn.focus{
  box-shadow: none;
}

html body .btn-link:focus, html body .btn-link.focus{
  text-decoration: none;
}

html body .btn-link, html body .btn-link{
  color: var(--pastell-600);
  border: none;
}

html body .btn-link:hover{
  background-color: var(--pastell-50);
  border: none;
  color: var(--pastell-700);
}

html body .btn-link:hover{
  background-color: var(--pastell-50);
  border: none;
  color: var(--pastell-700);
  text-decoration: none;
}

html body .btn-warning{
  background-color: var(--ls-warning-500);
  border: none;
}

html body .btn-warning:hover{
  background-color: var(--ls-warning-700);
  border: none;
}

html body .btn.disabled, html body .btn:disabled{
  opacity: .5;
}

html body .alert-info{
  color: var(--pastell-800);
  background-color: var(--pastell-50);
  border: none;
}

div.alert-info table{
  border-color: var(--pastell-700);
}
