[Unit]
Description=Démon Pastell
After=mysql.service


[Service]
ExecStart=/usr/bin/php /var/www/pastell/batch/pastell-daemon.php start
ExecStop=/usr/bin/php /var/www/pastell/batch/pastell-daemon.php stop
PIDFile=/data/daemon/pastell-daemon.pid
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
