<p>Bonjour,</p>

<p>Voici la suite de la procédure pour changer votre email sur Pastell.</p>

<p>Veuillez cliquer sur le lien suivant :
<br><a href="{{ link }}">{{ link }}</a>
</p>

<p>Cordialement.</p>
<p>--</p>
<p>Ce mail vous est envoyé automatiquement par le système Pastell</p>