{% extends "base-email.html.twig" %}

{% block title %}
    <h1>Demande de changement d'email acceptée</h1>
{% endblock %}

{% block content %}
    <div>
        <p>Votre demande de changement d'email sur Pastell a été acceptée.</p>

        {% if message is not empty %}
            <p>Voici le message de l'administrateur ayant accepté votre demande :</p>
            <p>
                {{ message }}
            </p>
        {% endif %}
    </div>
{% endblock %}
