{% extends "base-email.html.twig" %}

{% block title %}
    <h1>Demande de changement d'email refusée</h1>
{% endblock %}

{% block content %}
    <div>
        <p>Votre demande de changement d'email sur Pastell a été refusée.</p>

        {% if message is not empty %}
            <p>Voici le message de l'administrateur ayant refusé votre demande :</p>
            <p>
                {{ message }}
            </p>
        {% endif %}
    </div>
{% endblock %}
