{% extends "base-email.html.twig" %}

{% block title %}
    <h1>Glaneur en erreur</h1>
{% endblock %}

{% block content %}
    <div>
        <p>Le glaneur {{ url }} est en erreur.</p>

        <p>{{ message }}</p>
    </div>
{% endblock %}


