<p>Bonjour,</p>
<p>
Le système Pastell a reçu une demande de rappel de mot de passe correspondant au compte associé à votre adresse mail.
</p>
<p>
Afin de réinitialiser votre mot de passe, veuillez vous rendre sur la page suivante :
<br/><br/>
    <a href="{{ link }}">{{ link }}</a>
</p>
<p>
Si vous n'avez pas initié cette procédure, veuillez prévenir votre administrateur Pastell.
</p>
<br/>
-- <br/>
Ce mail vous est envoyé automatiquement par Pastell.
<br/>
